In [ ]:
print("Hello EveryOne this my first Python program") 
#print statement used to print the statement
#we use (#) for commenting

Hello EveryOne this my first Python program

In [ ]:
name="Tapish Rawat" #we used name variable to store the name!
print("Your Name is :" + name) #we used the + to concatenate the name variable with our print statement

Your Name is :Tapish Rawat

In [ ]:
age=20
print(age)

20

In [ ]:
print(type(name)) #we used type to get the type of name and age variable
print(type(age))

<class 'str'>
<class 'int'>

In [ ]:
a = int(input("enter first number: "))
b = int(input("enter second number: "))
#input() is an inbuilt function which is used to take input from user.
sum = a + b
 
print("sum:", sum)

enter first number: 12
enter second number: 12
sum: 24

# Calculate Grade of Student based on Marks obtained in 5 Subjects based on Marks obtained in n number of Subjects
91-100 =	A1
81-90	 =  A2
71-80	 =  B1
61-70	 =  B2
51-60	 =  C1
41-50	 =  C2
33-40	 =  D
21-32	 =  E1
0-20	 =  E2

In [ ]:
print("Enter Marks Obtained in 5 Subjects: ")
markOne = int(input())
markTwo = int(input())
markThree = int(input())
markFour = int(input())
markFive = int(input())
#If mark contains decimal values like 98.6, 86.9 etc., 
#Then replace int with float. That is, to handle with floating-point (value containing decimal) values
total = markOne+markTwo+markThree+markFour+markFive
avg = total/5

if avg>=91 and avg<=100:
    print("Your Grade is A1")
elif avg>=81 and avg<91:
    print("Your Grade is A2")
elif avg>=71 and avg<81:
    print("Your Grade is B1")
elif avg>=61 and avg<71:
    print("Your Grade is B2")
elif avg>=51 and avg<61:
    print("Your Grade is C1")
elif avg>=41 and avg<51:
    print("Your Grade is C2")
elif avg>=33 and avg<41:
    print("Your Grade is D")
elif avg>=21 and avg<33:
    print("Your Grade is E1")
elif avg>=0 and avg<21:
    print("Your Grade is E2")
else:
    print("Invalid Input!")

Enter Marks Obtained in 5 Subjects:
89
99
98
92
77
Your Grade is A1